@import '../../../sass/app.scss';

.formularioIncidencia-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    .data-container {
        background-color: $white_color;
        padding: $default_padding*2 $default_padding*2;
        margin: $default_padding*2 0;
        border-style: solid;
        border-width: 1px;
        border-color: $grey_color_226;
        border-radius: 4px;
        box-shadow: $box_shadow;
        width: 100%;

        .dropdowns-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            
            .p-title {
                font-size: $font_size*1.5;
                margin-bottom: $default_padding;
                // font-weight: bold;
            }
        }

        &--row {
            @extend .data-container;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            border-style: none;
            background-color: transparent;
            padding: 0;
            border: none;
            box-shadow: none;
            .title-container {
                width: 70%;
                padding: 0;
                height: auto;
                border-style: solid;
                border-width: 1px;
                border-color: $grey_color_226;
                border-radius: 4px;  
                background-color: $white_color;
                margin-right: $default_padding*2;
                padding: $default_padding*2 $default_padding*2;
                box-shadow: $box_shadow;
                
                .p-title {
                    font-size: $font_size*1.5;
                    color: $text_color;
                    margin-bottom: $default_padding;
                    // font-weight: 700;
                }

                .title-name {
                    width: 100%;
                    height: auto;
                    background-color: $primary_color;
                    padding: $default_padding $default_padding*2;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                }
                .form-group {
                    .text_label {
                        font-weight: 500;
                    }
                }

        
            }
            .dropdowns-container {
                @extend .dropdowns-container;
                flex-direction: column;
                width: 30%;
                padding: $default_padding*2 $default_padding*2;
                border-style: solid;
                border-width: 1px;
                border-color: $grey_color_226;
                border-radius: 4px;  
                background-color: $white_color;
                box-shadow: $box_shadow;

                .p-title {
                    font-size: $font_size*1.5;
                    margin-bottom: $default_padding;
                    // font-weight: 700;
                }
            }
        }
        .form-group {
            .text_label {
                font-weight: 500;
            }
        }
        .p-title {
            font-size: $font_size*1.5;
            margin-bottom: $default_padding;
            // font-weight: 700;
        }


        .build-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            //background-color: rgba($primary_color,0.1);
            .dropdown-container {
                display: flex;
                flex-direction: column;
                width: 100%;

                span {
                    margin-bottom: $default_padding;
                    font-size: $font_size*1.2;
                }

                .dropdown {
                    width: 95%;
                    background-color: $white_color;

                    .btn {
                        width: 100%;
                    }

                    .dropdown-menu {
                        width: 100%;
                    }
                }
            }
        }

        .asignacion-container {
            display: flex;
            flex-direction: row;

            .assign-container {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin: $default_padding*3 0;
                width: 50%;

                span {
                    margin-right: $default_padding*2;
                }

                .tabs-container {
                    // height: $default_padding*6.5;

                    .btn-group {

                        .btn {
                            border: none;
                            box-shadow: none;
                            background-color: $grey_color_184;

                            &:first-child:not(:last-child):not(.dropdown-toggle) {
                                border-bottom-left-radius: $default_padding*2;

                            }

                            &:last-child {
                                border-bottom-right-radius: $default_padding*2;
                            }
                        }

                        .active {
                            // border: inherit;
                            background-color: $primary_color;
                            color: $white_color;
                            border-bottom-color: $white_color;
                            font-weight: unset;
                        }
                    }
                }
            }

        }
    }

}