
// ---- Colores de la apliación ----
$primary_color: #3685EC;
$secondary_color: #003877;
$dark_color: #00254E;
$red_color: #dc3545;
$red_light_color: #f76473;
$orange_color: #e78738;
$green_color: #07a744;
$white_color: #FFFFFF;
$black_color: #141414;
$grey_color_38: #262626;
$grey_color_51: #333333;
$grey_color_83: #838383;
$grey_color_127: rgb(196, 196, 196);
$grey_color_226: rgb(226, 226, 226);
$grey_color_184: rgb(241, 241, 241);
$grey_color_250: rgb(245, 245, 245);


// ---- Tamaños ----
$font_size: 0.938rem; // 15 px
$default_padding: 0.5rem; // 8px

// ---- Fuentes ----
$primary_font_family: 'Sen', sans-serif;

$title_font_family: 'Black Han Sans', sans-serif;

