
// ---- Colores de la apliación ----
$primary_color: #3685EC;
$secondary_color: #003877;
$dark_color: #00254E;
$red_color: #dc3545;
$red_light_color: #f76473;
$white_color: #FFFFFF;
$black_color: #141414;
$grey_color_38: #262626;
$grey_color_51: #333333;
$grey_color_127: rgb(196, 196, 196);
$grey_color_184: rgb(241, 241, 241);

// ---- Tamaños ----
$font_size: 0.938rem; // 15 px
$default_padding: 0.5rem; // 8px

// ---- Fuentes ----
$primary_font_family: 'IBM Plex Sans', sans-serif;
$title_font_family: 'Black Han Sans', sans-serif;

