body {
    height: 100vh;
    margin: 0;
}
.divPrincipal {
    padding: 0 5%;
    height: 100%; 
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// .position-ref {
//     position: relative;
// }

