@import '../../../sass/app.scss';

.tabs-container {
    height: auto;
    .btn-group {

        .btn {
            border-radius: 0;
            border-top-right-radius: $default_padding*2;
            cursor: pointer;

            &:first-child:not(:last-child):not(.dropdown-toggle) {
                @extend .btn;
                border-top-right-radius: 0;
                border-top-left-radius: $default_padding*2;

            }

            &--primary {
                @extend .btn;
                background-color: transparent;
                color: $primary_color;
                border-color: $primary_color;
                border-bottom: none;
            }
            
            &--grey {
                @extend .btn;
                background-color: $grey_color_226;
                color: $grey_color_51;
                //border-color: $primary_color;
                border-bottom: none;
                box-shadow: inset -8px -70px 50px -90px rgba(0,0,0,0.75);
            }

            &--grey:hover {
                background-color: $grey_color_127;
            }
        }
        
        .active {
            color: $primary_color;
            background-color: $grey_color_250;
            font-weight: bold;
            box-shadow: none;
            
            &:hover {
                background-color: $grey_color_250;

            }

        }
    }
}