@import '../../../sass/app.scss';

.navbar-container {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -210px;
    background-color: $black_color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
    .options-container {
        display: flex;
        flex-direction: column;

        .menu-btn {
            position: absolute;
            top: 5px;
            right: 18px;
            font-size: 30px;
            margin-left: 50px;
            cursor: pointer;
            color: $white_color;

            &:hover {
                @extend .menu-btn;
                color: $primary_color;
            }

            &#btn-cerrarMenu {
                display: none;
            }
        }

        .span-container {
            display: flex;
            flex-direction: column;
            margin-top: $default_padding*2;
            span {
                line-height: 50px;
                padding-left: 20px;
                color: $grey_color_184;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 1;
                margin: $default_padding 0rem;
                i {
                    line-height: 50px;
                    font-size: 25px;
                    color: $grey_color_184;
                    margin-right: 20px;
                }

                .active {
                    @extend span;
                    background-color: $primary_color;
                    color: $white_color;

                    i {
                        color: $white_color;
                    }
                }

                &:hover {
                    @extend span;
                    background-color: rgba($color: $grey_color_184, $alpha: 0.16);
                }

            }
        }
    }
    .button_css--red {
        margin-left: 20px;
    }

    #slidevar {
        transition: margin-left;

    }
}
