@import '../../../../../sass/app.scss';

.incidenciasList-container {
    // padding-left: $default_padding*2;
    height: 100%;

    .filtrar-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        height: 10%;
        padding-left: $default_padding*2;

        .dropdown {
            margin-left: $default_padding;
            padding-right: $default_padding*3;
        }

        .selectboxes-container {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            margin-left: $default_padding*3;

            .btn-group {
                margin: 0 $default_padding;
            }
        }

        .vertical-separator {
            height: 50%;
            border: solid;
            border-width: 1px;
            border-color: $grey_color_127;
            width: 1px;
        }
    }

    .table-container {
        height: auto;
        max-height: 80%;
        overflow-y: scroll;
        box-shadow: inset -15px 0 15px -8px rgba(0, 0, 0, 0.75);
        padding: $default_padding;

        .table {
            height: 100%;
            width: 100%;

            thead {
                tr {
                    width: 100%;

                    &:first-child {
                        width: 8%;
                    }

                    th {
                        text-align: center;
                        border-top: none;
                        padding: 0;
                    }
                }
            }

            tbody {
                tr {
                    width: 100%;

                    th {
                        width: 8%;
                        padding: $default_padding*2 $default_padding*2;
                        text-align: center;
                        vertical-align: middle;
                    }

                    td {
                        max-width: $default_padding*40;
                        text-align: center;
                        padding: $default_padding*2 $default_padding*2;
                        vertical-align: middle;
                    }

                    .columna {
                        font-weight: bold;

                        &--red {
                            @extend .columna;
                            color: $red_color;
                        }

                        &--orange {
                            @extend .columna;
                            color: $orange_color;
                        }

                        &--green {
                            @extend .columna;
                            color: $green_color;
                        }

                        &--bg-red {
                            @extend .columna;
                            background-color: rgba($color: $red_color, $alpha: 0.9);
                            color: $white_color;
                        }

                        &--bg-orange {
                            @extend .columna;
                            background-color: rgba($color: $orange_color, $alpha: 0.9);
                            color: $white_color;
                        }

                        &--bg-green {
                            @extend .columna;
                            background-color: rgba($color: $green_color, $alpha: 0.9);
                            color: $white_color;
                        }

                        &--bg-primary {
                            @extend .columna;
                            margin: $default_padding*3 $default_padding;
                            background-color: rgba($color: $primary_color, $alpha: 0.9);
                            color: $white_color;
                        }
                    }
                }

                &:last-child {}
            }

        }

    }

    .footer-container {
        height: 10%;
        padding: $default_padding $default_padding*2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

        // justify-content: space-between;

        .vertical-separator {
            height: 50%;
            border: solid;
            border-width: 1px;
            border-color: $grey_color_127;
            width: 1px;
            margin: 0 $default_padding*4;
        }

        .dataSelection-container {

            &--filter {
                @extend .dataSelection-container;
                .span {
                    font-weight: bold;

                    &--primary {
                        @extend .span;
                        color: $primary_color;
                    }

                    &--orange {
                        @extend .span;
                        color: $orange_color;

                    }

                    &--red {
                        @extend .span;
                        color: $red_color;

                    }

                    &--green {
                        @extend .span;
                        color: $green_color;

                    }
                }
            }
        }
    }
}