@import '../../../sass/app.scss';


.mainpage-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    .body-container {
        margin-left: 0px;
        transition: 0.5s;
        #body {
            transition: margin-left;
        }
    }
}