@import '../../../../sass/app.scss';

.incidenciaview1-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleincidencia-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        color: $primary_color;
        font-size: $font_size*2;
        margin: 0 auto; 
        padding-top: $default_padding*3;

        p {
            margin: 0;
        }

        .tabs-container {
            height: $default_padding*6.5;
            margin: $default_padding*2 0;

            .btn-group {

                .btn {

                    // border: none;
                    // box-shadow: none;
                    // background-color: $grey_color_184;
                    &:first-child:not(:last-child):not(.dropdown-toggle) {
                        border-bottom-left-radius: $default_padding*2;

                    }

                    &:last-child {
                        border-bottom-right-radius: $default_padding*2;
                    }
                }
            }
        }
    }


    .incidenciaview2-container {
        width: 100%;
        height: auto;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        // align-items: center;
        .incidenciaData-container {
            width: 40%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: $default_padding*2 $default_padding*3;
            padding: 0 $default_padding*5;

            .state-container {
                display: flex;
                flex-direction: column;
                padding-bottom: $default_padding*3;
                justify-content: center;
                align-items: center;
                    p {
                        margin: 0; 
                    }
                    .incidencia-state {
                        font-size: $font_size*1.5;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                        margin: 0 $default_padding*4;
                        margin-bottom: $default_padding*3;
                        padding: $default_padding;
                        border: dashed;
                        border-width: 1.5px;
                        
                        &--blue {
                            @extend .incidencia-state;
                            border-color: $primary_color;
                            background-color: rgba($color: $primary_color, $alpha: 0.15);
                            color: $primary_color;
                        }
                        &--orange {
                            @extend .incidencia-state;
                            border-color: $orange_color;
                            background-color: rgba($color: $orange_color, $alpha: 0.15);
                            color: $orange_color;
                        }
                        &--red {
                            @extend .incidencia-state;
                            border-color: $red_color;
                            background-color: rgba($color: $red_color, $alpha: 0.15);
                            color: $red_color;
                        }
                        &--green {
                            @extend .incidencia-state;
                            border-color: $green_color;
                            background-color: rgba($color: $green_color, $alpha: 0.15);
                            color: $green_color;
                        }
                    }

                    .dropdown {
                        margin: $default_padding 0;
                    }
                
            }
            .info-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: $default_padding*0.3;
                border-color: $primary_color;

                .p-left {
                    width: 30%;
                    background-color: $primary_color;
                    font-weight: 500;
                    color: $white_color;
                    margin: 0;
                    padding: $default_padding*0.5 $default_padding*2;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                .p-right {
                    width: 70%;
                    background-color: $grey_color_226;
                    font-weight: 500;
                    margin: 0;
                    padding: $default_padding*0.5 $default_padding*2;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;

                    &--red {
                        @extend .p-right;
                        color: $red_color;
                        font-weight: 600;
                    }

                    &--bold {
                        @extend .p-right;
                        font-weight: 600;
                    }
                }
            }

            .footer-container {
                text-align: center;
                padding: $default_padding*2 0;
                
            }
        }

        .options-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            background-color: $grey_color_184;
            height: 100%;
            box-shadow: $box_shadow;
            margin: $default_padding*2 0;
            margin-right: $default_padding*4;
            border-radius: 4px;
            .edit-container {
                padding: $default_padding*3 $default_padding*5;
                .createIncidencia-container {
                    width: 100%;
                    padding: 0;
    
                    .data-container {
                        .asignacion-container {
                            .assign-container {
                                width: 60%;
                            }
                        }
                    }
                }

            }
        }

    }
}
