@import '../../../sass/app.scss';

.button_css {
    border-radius: 2.5rem;
    padding: $default_padding $default_padding*2;
    .span_container {
        padding-right: $default_padding;
        font-size: $font_size;
    }
    .button_text {
        font-size: $font_size;
    }
}

.button_css:hover {
    cursor: pointer;
}