@import '../../../sass/app.scss';

.dropdown {
    .btn {
        cursor: pointer;
        background-color: transparent;
        
        &--primary {
            @extend .btn;
            color: $primary_color;
            border-color: $primary_color;
            background-color: $white_color;
        }

        &--red {
            @extend .btn;
            color: $red_color;
            border-color: $red_color;
            background-color: $white_color;
        }

        &:hover {
            @extend .btn;
            background-color: $grey_color_184;
        }
    }

    .dropdown-menu {

        .dropdown-item {
            &:hover {
                @extend .dropdown-item;
                background-color: $grey_color_184;
                cursor: pointer;
            }
        }
    }

    &.show {
        .btn {
            border: none;
            color: $white_color;
            &--primary {
                @extend .btn;
                background-color: $primary_color;
            }
            &--red {
                @extend .btn;
                background-color: $red_color;
            }
        }
    }
}