@import '../../../../../sass/app.scss';

.createIncidencia-container {
    padding: $default_padding*2 $default_padding*2;
    background-color: $grey_color_250;

    .info-container {
        height: auto;
    }
}