@import '../../../../sass/app.scss';

.adminpage-container {
    min-height: 100%;
    max-height: auto;
    width: 100%;
    background-color: $grey_color_184;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: $default_padding*4;

    .title1 {
        font-size: $font_size*2;
        color: $primary_color;
    }

    .formulario-container {
        display: flex;
        flex-direction: column;
        background-color: $white_color;
        padding: $default_padding*2 $default_padding*2;
        border-style: solid;
        border-width: 1px;
        border-color: $grey_color_226;
        border-radius: 4px;
        box-shadow: $box_shadow;

        .h-container {
            display: flex;
            flex-direction: row;
            margin-bottom: $default_padding;
            .form-group {
                margin: 0 $default_padding;
            }

            div:first-child {
                margin-left: 0;
            }

            div:last-child {
                margin-right: 0;
            }
        }

        .h-container--2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: $default_padding;
            .form-group {
                margin-right: $default_padding*2;
            }
            .dropdown {
                width: 30%;
                margin-top: 36px;
                .btn {
                    width: 100%;
                }
            }
        }
    }

    .import-container {
        display: flex;
        flex-direction: column;
        margin: $default_padding*2 0;
        .import-title {
            color: $primary_color;
            font-size: $font_size*1.2;
        }
    }
}