@import '../../../sass/app.scss';

.form-group {
    width: 100%;

    .text_label {
        font-size: $font_size*1.2;

        &--primary {
            @extend .text_label;
            color: $primary_color;
        }
        
        &--red {
            @extend .text_label;
            color: $red_color;
        }

    }

    .input_class {
        &--primary {
            @extend .input_class;
            color: $primary_color;

            &:focus {
                background-color: $primary_color;
                border-color: $primary_color;
                color: $white_color;

                &::-webkit-input-placeholder {
                    color: rgba($color: $white_color, $alpha: 0.6);
                }
            }
        }

        &--red {
            @extend .input_class;
            border-color: $red_color;
            color: $red_color;

            &::placeholder {
                color: $red_color;
            }
        }

    }

    .input_class_primary {
        &:focus {
            background-color: rgba($color: $primary_color, $alpha: 0.1);
            border-color: $primary_color;
        }

        &--red {
            background-color: rgba($color: $red_light_color, $alpha: 0.4);
            border-color: $red_color;

        }

    }

    .aviso {
        display: none;

        &--mostrar {
            display: block;
        }
    }

}