@import '../../../sass/app.scss';

.form-group {
    .text_label {
        font-size: $font_size;
    }
    .input_class {
        &__error{
            background-color: rgba($color: $red_color, $alpha: 0.2);
        }
    }
    .input_class:focus {
        background-color: rgba($color: $primary_color, $alpha: 0.2);
    }
}